<div class="row">
  <div class="col-md-4 col-md-offset-4">
<% if params[:query].blank? %>
<% provide(:title, @title) %>
<% else %>
<% provide(:title, params[:query]) %>
<h1>Results for <i><%= params[:query] %></i>...</h1>
<% end %>

<ul class="posts list-style">
  <%= render @posts %>
</ul>

<div id="append_and_paginate" class="center">
  <%= will_paginate @posts %>
</div>
</div>
</div>